footer {
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: black;
    font-family: sans-serif;

    width: 100%;
    max-width: 1500px;

    margin: auto;
    padding: 5px;

    color: #C8C3C1;

    /* Logo image */
    >img{
        max-height: 60px;
    }

    /* Contact divs */
    div {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
            height: 35px;
        }

        p {
            margin: 0;
        }
    }
}

.responsive-contact-info {
    display: none;
    align-items:flex-end;
}

@media (max-width:767px) {
    footer>div>img {
        display: none;
    }
}

@media (max-width:588px) {
    footer {
        justify-content: space-between;
        height: 65px;
    }

    /* Contact divs */
    footer div{
        display: none;
    }

    .responsive-contact-info {
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-size: calc(14px + 16 * ((100vw - 320px) / (1580 - 320)));
    }
}