.galery {
    display: flex;
    justify-content: center;

    flex-wrap: wrap;

    width: 100%;

    margin: 0;
    padding: 0;
}

.my {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.my2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.my img {
    width: 70%;
}

.service__ul {
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
}

.service__ul ul {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    padding: 0;
    font-size: calc(16px + 16 * ((100vw - 320px) / (1500 - 320)));
    text-align: center;
}

.service__ul li {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 33.33%;
}

.galery img {
    width: 40%;
    margin: 0 10px 10px 0;
}

.my2 h2 {
    font-size: calc(35px + 16 * ((100vw - 320px) / (1500 - 320)));
}

.my2 p {
    font-size: calc(21px + 16 * ((100vw - 320px) / (1500 - 320)));
}

.gelerys {
    display: flex;
    justify-content: center;

    flex-wrap: wrap;

    width: 100%;

    margin: 0;
    padding: 0;
}

hr {
    background: #fff;
    color: #fff;
    border-color: #fff;

    width: 100%;
}

.text_gelery {
    color: white;
    text-align: center;

    font-family: Oswald;
    font-size: calc(35px + 16 * ((100vw - 320px) / (1500 - 320)));
    font-weight: 600;

    margin: 25px 0;
}

.servic {
    padding-top: 110px;
    background-color: #fff;
}

.wrap__2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.wrap__div {
    width: 31.33%;
    height: 450px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    border: 1px solid white;
    margin-right: 10px;
    margin-bottom: 10px;

    box-shadow: 0 0 5px white;

    font-family: Oswald;
    color: #fff;
    letter-spacing: 2px;
}

.wrap__div p {
    font-size: 20px;
    width: 90%;
    margin-bottom: 0;
}

.wrap__div img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: 0.35s;
}

.infrastructere_text {
    position: relative;
    top: -52%;
    margin-left: 10px;
}

.infrastructere_text.last {
    position: inherit;
    margin-left: 10px;
}


.clip_path_img_1 {
    clip-path: polygon(0 0, 100% 0, 50% 50%, 0 100%);
}

.clip_path_img_2 {
    clip-path: polygon(50% 50%, 100% 0, 100% 100%, 0 100%);
    position: relative;
    top: -55%;
}

#sadoc {
    object-fit: none;
}

.infrastructere_text.without_double_image {
    position: relative;
    top: 4%;
    margin-left: 10px;
}


.length {
    color: white;
    background-color: cornflowerblue;

    text-align: center;
    width: 25%;

    font-size: 27px;
    transform: scale(0.85);

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -88%;
    right: -75%;
}

.length.f {
    top: -144%;
}

.length.d {
    top: -137%;
}

.descr {
    display: flex;
    flex-direction: column;
    color: #fff
}

.length p {
    margin: 0;
    font-weight: 600;
    font-size: 22px;
    position: relative;
    top: -6%;
}

.servic__content {
    padding-top: 110px;
    width: 100%;
}

@media (max-width:1024px) {
    .length {
        font-size: calc(21px + 16 * ((100vw - 320px) / (1500 - 320)));

    }

    .servic__content {
        padding-top: 130px;
    }

    .text_gelery {
        margin: 15px 0;
    }

    .wrap__div {
        width: 47%;
    }

    .wrap__div h2 {
        margin-top: 10px;
        margin-bottom: 10px;

    }

    .wrap__div p {
        margin-top: 8px;
        margin-bottom: 8px;
    }
}

@media (max-width:767px) {
    .content.servic {
        padding-top: 70px;
    }

    .my2 h2 {
        text-align: center;
    }

    .service__ul {
        width: 100%;
    }

    .service__ul ul {
        width: 80%;
    }

    .servic__content {
        padding-top: 80px;
    }

    body.lock {
        overflow: hidden;
    }

    .relative {
        height: 475px;
        flex-direction: column;
    }

    .our {
        flex-direction: column;
    }

    .p1 {
        margin: 40px 0 25px 0;
    }

    .footer__img {
        display: none;
    }
}

@media(max-width:682px) {
    .wrap__div {
        width: 95%;
    }
}

@media(max-width:592px) {
    .my2 {
        flex-direction: column;
    }

    .my2 img {
        width: 80%;
    }
}

@media(max-width:589px) {
    #galery2 {
        flex-direction: column;
        align-items: center
    }

    .wrap__div {
        width: 95%;
    }

    .galery img {
        width: 90%;
        margin: 0;
        margin-bottom: 10px;
    }
}

@media(max-width:531px) {
    .text_gelery {
        margin: 5px 0;
    }
}