header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;

    width: 100%;
    padding: 5px 0;

    background-color: black;

    display: flex;
    justify-content: center;
}

header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

/* Contact div, that shown when shown burger */
header>div>div {
    z-index: 2;
    display: flex;
}

nav li {
    list-style: none;
    margin-left: 20px;
    color: #C8C3C1;
    text-decoration: none;
    transition: 0.5s;
}

nav ul {
    display: flex;
    justify-content: space-between;

    position: relative;
    z-index: 2;

    font-family: Yanone;
    font-size: 25px;
    letter-spacing: 1.5px;

    margin: 0;
    padding: 0;
}

nav li:hover {
    transform: scale(1.2);
}

nav a {
    color: white;
    text-decoration: none;
}

.header__logo {
    position: relative;
    z-index: 3;
}

.header__logo img {
    max-height: 100px;
}

.burger {
    display: none;
}

.contact_in_burger {
    display: none;
}

.contact_in_burger hr {
    width: 100%;
}

.phone_number_in_burber {
    font-family: 'Oswald';
    font-weight: 800;
    font-size: 24px;
}

.header_contact {
    z-index: 3;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    margin-right: 20px;
}

.header_contact p {
    color: white;
    margin: 0;
    font-size: 18px;
    font-family: 'Oswald';
    letter-spacing: 0.7px;
}

#now {
    text-decoration: underline;
}

nav.bottom {
    display: none;
}

@media (max-width:1024px) {
    header>div {
        height: 80px;
    }

    nav {
        display: none;
    }

    nav.bottom {
        display: flex;

        height: auto;
        width: 100%;

        padding: 100px 0 10px 0;

        position: fixed;
        z-index: 3;

        background-color: #202733;
    }

    .header__logo img {
        max-height: 80px;
    }
}


@media (max-width:767px) {
    header>div {
        height: 60px;
    }

    nav {
        display: none;
    }

    .header__logo img {
        max-height: 60px;
    }

    .burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }

    .contact_in_burger {
        display: block;
    }

    .burger span {
        position: absolute;
        background-color: #fff;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }

    .burger::before,
    .burger::after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .burger:before {
        top: 0;
    }

    .burger:after {
        bottom: 0;
    }

    .burger.active::before {
        transform: rotate(45deg);
        top: 9px;
    }

    .burger.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .burger.active span {
        transform: scale(0);
    }

    nav {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #333e51;
        color: white;
        transition: 0.3s;
        padding: 0px 10px 20px 0;
        overflow: auto;
    }

    nav.active {
        top: 0;
        display: flex;
    }

    nav ul {
        padding-top: 100px;
        display: block;
    }

    nav li {
        margin-bottom: 20px;
    }

    nav li:hover {
        transform: none;
    }

    .header_contact {
        display: none;
    }

    nav.bottom {
        display: none;
        padding: 0;
    }

    .header__hr {
        height: 50px;
    }
}

@media (max-width:588px) {

    .header_contact {
        display: none;
    }

    .container {
        padding-left: 5px;
        padding-right: 5px;
    }

    .burger {
        margin-top: 0;
    }
}

@media (max-width:362px) {
    .burger {
        margin-left: 20px;
        margin-top: 0;
    }
}

@media (max-width:276px) {
    .header__logo {
        transform: scale(0.9);
        position: relative;
        left: 0;
    }
}