.mb-2 {
    margin-bottom: 2vw;
}

.big_picture_div {
    background-image: url(../images/z372.jpg);
    background-size: cover;
    background-position: center center;

    height: 30vw;

    display: flex;
    align-items: end;

    p {
        font-size: 3.5vw;
        font-weight: 600;
        text-shadow: 1px 2px 1.5px rgba(0, 0, 0, 0.8);

        margin: 1.5vw;
        padding: 1vw;

        color: GAINSBORO;
        background: rgba(0, 0, 0, 0.5);
    }
}

.individual_approach {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7.5vh;

    color: wheat;
    background-color: #333e51;

    width: 100%;
    height: fit-content;
    max-height: 75vw;

    padding: 2% 0;

    font-size: 1.5vw;

    ul {
        padding-left: 20px;
    }

    h3 {
        font-size: 3vw;
        font-family: Oswald;
        font-weight: bolder;
        color: white;
        margin: 0;
    }

    hr {
        width: 75%;
        background-color: #fff;
        border-color: #fff;
    }
}

.our_projects {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;

    .houses {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        font-family: Yanone;
        width: 100%;

        font-size: 2.625rem;

        img {
            display: flex;
            margin: 0;
        }

        .house {
            transform: scale(0.9);
            display: flex;
            flex-direction: column;

            margin: 0;
            position: relative;
            width: 50%;
            height: 100%;

            font-size: 2vw;

            h4 {
                margin: 0;
                font-size: 2.5vw;
            }

            .house_image_div {
                position: relative;
                text-align: center;
                color: white;
                padding: 0;
                overflow: hidden;
                padding-bottom: 58%;

                img {
                    transition: 0.85s;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                .button {
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    p {
                        display: none;
                        color: white;
                        border: 2px solid rgba(255, 255, 255, 1);
                        padding: 1.5vw 3vw;
                        font-size: 2.5vw;
                    }
                }
            }

            .description {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                background-color: #212F3D;
                padding: 0 1lvw;

                color: #FFF;

                >p {
                    font-family: Yanone;
                    font-weight: 900;
                    margin: 0;
                }

                div {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 2vh;

                    p {
                        color: white;
                    }

                    hr {
                        background-color: #fff;
                        border-color: #fff;
                        width: 1px;
                        height: 7.5vh;
                    }

                    .number {
                        font-family: Oswald;
                        font-weight: 600;
                        color: #FFDED8
                    }
                }
            }

            .queue {
                width: 7.5vw;
                height: 7.5vw;

                display: flex;
                justify-content: center;
                align-items: center;

                position: absolute;
                top: 1%;
                right: 1%;

                background-color: #26AB8F;
                border-radius: 100%;

                transition: 0.3s;

                p {
                    text-align: center;
                    color: white;
                    margin: 0;
                }
            }

            .first_queue {
                background-color: #F28291;
            }

            hr {
                color: #FFC984;
                border: none;
                width: 100%;
                height: 0.5vh;
                margin: 0;
            }
        }
    }
}

.black_title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    background-color: #000000;
}

.map {
    width: 100%;

    h2 {
        margin-top: 110px;
    }

    iframe {
        width: 100%;
        height: 40vh;
        border: none;
    }
}

@media (max-width:1024px) {
    .big_picture_div {
        height: 40vw;
    }

    .black_title {
        margin-bottom: 0;
    }
}

@media (max-width:767px) {
    .big_picture_div {
        height: 45vw;
        justify-content: center;
    }

    .individual_approach {
        flex-direction: column;
        gap: 1vh;

        font-size: 2vw;

        h3 {
            font-size: 3.5vw;
        }
    }

    .mb-2 {
        margin-bottom: 0;
    }

    .houses {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .house {
        transform: scale(1);
        width: 90% !important;

        font-size: 3vw !important;

        h4 {
            font-size: 4.5vw !important;
        }
    }
}

@media(max-width:600px) {
    .big_picture_div p {
        font-size: 5vw;
    }

    .individual_approach {
        font-size: 2.5vw;

        h3 {
            font-size: 4vw;
        }
    }
}

@media(max-width:450px) {
    .big_picture_div {
        height: 55vw;
    }

    .queue {
        height: 18%;
    }

    .house {
        font-size: 4vw !important;

        h4 {
            font-size: 5.5vw !important;
        }
    }
}

@media(max-width:400px) {
    .big_picture_div p {
        font-size: 6vw;
    }

    .individual_approach {
        font-size: 3.5vw;

        h3 {
            font-size: 5vw;
        }
    }
}