@font-face {
    font-family: Yanone;
    src: url("../fonts/Yanone.ttf");
}

@font-face {
    font-family: Oswald;
    src: url("../fonts/Oswald.ttf");
}

body {
    margin: 0;
    padding: 0;
    background: rgba(255, 234, 226, 0.3);
}

.container {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
}

main {
    max-width: 1500px;
    width: 100%;
    margin: auto;
}

@media (min-width:1500px) {
    .max_font_size {
        font-size: 49px !important;
    }
}

@media (max-width:1500px) {
    .container {
        max-width: 100%;
        width: 100%;
    }
}


@media (max-width:767px) {
    body.lock {
        overflow: hidden;
    }

    main {
        margin-top: 70px;
    }
}