@font-face {
    font-family: Merriweather;
    src: url("../fonts/Merriweather.ttf");
}

@font-face {
    font-family: Yanone;
    src: url("../fonts/Yanone.ttf");
}

@font-face {
    font-family: Oswald;
    src: url("../fonts/Oswald.ttf");
}

@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat.ttf");
}

body {
    margin: 0;
    padding: 0;
    background: rgba(255, 234, 226, 0.3);
}

.container {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
}

main {
    max-width: 1500px;
    width: 100%;
    margin: auto;
    margin-top: 110px;
    position: absolute;
    left: 0;
    right: 0;
}

.big_picture_div {
    background-image: url(../images/z372.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;

    height: 450px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        font-size: calc(30px + 16 * ((100vw - 320px) / (1580 - 320)));
        color: GAINSBORO;
        font-weight: 600;
        align-self: center;
        margin-top: 0;
        text-shadow: 1px 2px 1.5px rgba(0, 0, 0, 0.8);
        position: relative;
        left: -25%;
        top: 30%;
        text-align: left;
        margin: 20px;
        padding: 15px;
        background: rgba(0, 0, 0, 0.5);
    }
}

.individual_approach {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7.5vh;

    color: wheat;
    background-color: #333e51;

    width: 100%;
    height: fit-content;

    padding: 1% 0;

    ul {
        padding-left: 20px;
    }

    h3 {
        font-size: calc(26px + 16 * ((100vw - 320px) / (1580 - 320)));

        font-weight: bolder;
        font-family: Oswald;
        margin: 0;
        color: white;
    }

    hr {
        width: 300px;
        background-color: #fff;
        border-color: #fff;
        color: #fff
    }
}

.p1 {
    text-align: center;
    font-size: calc(45px + 16 * ((100vw - 320px) / (1580 - 320)));
    font-family: Yanone;
}

.our-project {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.our_our {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: auto;
}

.black {
    background-color: #000000;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.fullscreen {
    background-color: #1E2627;
}

.p3 {
    color: white;
    margin: 0;
    text-align: center;
    font-size: calc(45px + 16 * ((100vw - 320px) / (1580 - 320)));
    font-family: Yanone;
}

.google_maps {
    width: 100%;
    height: 450px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.inframe {
    position: relative;
    width: 100%;
    height: 450px;
    border: none;
    display: none;
    margin-bottom: 50px;
}

.google_maps p {
    position: absolute;
}

.ppp {

    margin-top: 111px;
    margin-bottom: 15px;
}


/*      Style for footer    */
.maps_fullscreen {

    width: 100%;
}

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: black;
    font-family: sans-serif;
}

.footer {
    width: 100%;
    height: 100px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: #C8C3C1;
}

.mail {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mail img {
    width: 50px;
    height: 40px;
    margin-right: 15px;
}

.mail p {
    margin: 0;
}

.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact img {
    width: 45px;
    height: 45px;
    margin-right: 15px;
}

.footer__logo {
    max-height: 100px;
    width: 166.66px;
}

.footer__div {
    display: none;
}

.container.z372__div {
    padding-top: 110px;
}

#footer__logo {
    width: 166.66px;
}

/* MEDIA */
.first__cherga {
    width: 15%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #F28291;
    border-radius: 100%;
    margin-top: 3px;
    margin-right: 3px;

    transition: 0.3s;
}

.first__cherga.second {
    background-color: #26AB8F;
}

.first__cherga p {
    text-align: center;
    color: white;
    font-size: calc(16px + 16 * ((100vw - 320px) / (1500 - 320)));

}

@media (min-width:1500px) {
    .max_font_size {
        font-size: 49px !important;
    }
}

@media (max-width:1500px) {
    .container {
        max-width: 100%;
        width: 100%;
    }
}

@media (max-width:1024px) {
    .individual_approach>div:first-child {
        margin-right: 20px;
    }

    .black {
        margin-bottom: 0;
    }

    .ppp {
        margin-top: 25px;
    }

    .p1 {
        margin-bottom: 25px;
    }
}

@media (max-width:953px) {
    .big_picture_div p {
        left: 0;
    }

    .individual_approach>div:first-child {
        margin-left: 15px;
        margin-right: 10px;
    }
}

@media (max-width:767px) {
    .relative-text {
        margin: 0;
    }

    .container.z372__div {
        padding-top: 70px;
    }

    body.lock {
        overflow: hidden;
    }

    main {
        margin-top: 70px;
    }

    .big_picture_div {
        height: 400px;
    }

    .individual_approach {
        flex-direction: column;
    }

    .our {
        flex-direction: column;
    }

    .p1 {
        margin: 40px 0 25px 0;
    }

    .footer__img {
        display: none;
    }
}

@media (max-width:588px) {
    .contact_ {
        display: block;
    }

    .container {
        padding-left: 5px;
        padding-right: 5px;
    }

    .mail {
        display: none;
    }

    .contact {
        display: none;
    }

    .footer__div {
        display: flex;
        flex-direction: column;
        font-size: calc(14px + 16 * ((100vw - 320px) / (1580 - 320)));
    }

    .footer__div p {
        margin: 0;
    }

    footer {
        justify-content: space-between;
    }

    .footer {
        height: 65px;
    }

    .footer__logo {
        max-height: 65px;
        width: 100px
    }

    #footer__logo {
        width: 100px;
    }
}

@media (max-width:540px) {
    .big_picture_div {
        height: 350px;
    }
}

@media(max-width:450px) {
    .first__cherga {
        height: 18%;
    }
}

@media(max-width:400px) {
    .individual_approach hr {
        width: 200px;
    }
}