.black_page {
    background-color: black;
}

.c-black{
    color: black;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1vh;

    width: 100%;

    img {
        width: 40%;
    }
}

.service {
    background-color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .service_department {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 80%;
        padding-top: 2vh;

        img {
            width: 50%;
        }

        p {
            font-size: calc(1.5vw + 13px);
        }
    }

    .services {
        display: flex;
        justify-content: center;
        width: 100%;

        color: white;
        background-color: black;

        ul {
            display: flex;
            flex-wrap: wrap;
            width: 60%;
            padding: 0;
            font-size: calc(1vw + 10px);
            text-align: center;

            li {
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: center;
                width: 33.33%;

                img {
                    width: 33%;
                }
            }
        }
    }
}

hr {
    border-color: #fff;

    width: 100%;
}

h1 {
    color: white;
    text-align: center;

    font-family: Oswald;
    font-size: calc(2vw + 14px);
    font-weight: 800;

    margin: 1.5vw 0;
}

.infrastructure_wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2vw;

    width: 100%;

    >div {
        width: 25%;
        height: 35vw;
        overflow: hidden;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        border-radius: 30px;
        background: #e0e0e0;
        box-shadow: 11px 11px 45px #bebebe,
            -11px -11px 45px #ffffff;

        .infrastructure_description {
            height: fit-content;
        }

        h2,
        p {
            font-family: Oswald;
            letter-spacing: 2px;
        }

        h2 {
            font-size: 3vw;
            font-weight: 600;
            margin: 17px;
        }

        p {
            font-size: 1.5vw;
            margin: 0 15px;
        }

        img {
            height: 20vw;
            object-fit: cover;
            transition: 0.35s;

            border-radius: 30px;
        }
    }

    .mb-45{
        margin-bottom: 45px;
    }
}

.distance {
    color: white;
    background-color: cornflowerblue;

    text-align: center;
    width: 25%;

    transform: scale(0.85);

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    top: -90%;
    right: -72%;

    p {
        margin: 0 !important;
        font-weight: 600;
    }
}

@media (max-width:1024px){
    h1{
        margin-bottom: 11px;
    }
}

@media (max-width:767px) {
    
    body.lock {
        overflow: hidden;
    }

    h1{
        font-size: 7vw;
    }

    .infrastructure_wrap {
        flex-direction: column;
        align-items: center;

        >div {
            width: 90%;
            height: 87vw;
        }

        p {
            font-size: 4vw !important;
        }

        img {
            height: 50vw !important;
        }
    }

    .service_department h2 {
        text-align: center;
    }

    .services {
        width: 100%;

        ul {
            width: 80%;
        }
    }
}

@media(max-width:592px) {
    .service_department {
        flex-direction: column;

        img {
            width: 80%;
        }
    }
}

@media(max-width:589px) {
    .gallery {
        flex-direction: column;
        align-items: center;

        img {
            width: 90%;
        }
    }
}